<a
  href="{{href}}"
  title={{title}}
  aria-label='{{title}}'
  alt="foo bar"
  data-json='{"json": "{{json}}"}'
  class="c {{x}} {{#classes}}{{.}} {{/classes}} {{^bar}}not-bar{{/bar}}"
>
  {{title}}
</a>
